#bg-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.background-shape {
  background: blue;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 15%, 0% 40%);

}
